<?xml version="1.0" encoding="utf-8"?><manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.example.geshuai.debate">

<application android:allowBackup="true" android:icon="@mipmap/log" android:label="@string/app_name"
    android:supportsRtl="true" android:theme="@style/AppTheme">
    <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
    <activity android:name=".BltActivity">

    </activity>
    <activity android:name=".new11">

    </activity>
    <activity android:name=".new12">

    </activity>
    <activity android:name=".new13">

    </activity>
    <activity android:name=".new14">

    </activity>


</application>





</manifest>
